@if (type === "link") {
  <a
    class="flex rounded-lg border border-accent bg-accent w-full h-12 mb-2 mr-2 text-sm font-semibold text-text-on-dark text-center items-center justify-center hover:bg-accent-hover hover:border-accent-hover focus:outline-none transition-colors duration-300"
    [routerLink]="link"
  >
    {{ label }}
  </a>
} @else {
  <a
    class="flex rounded-lg border border-accent bg-accent w-full h-12 mb-2 mr-2 text-sm font-semibold text-text-on-dark text-center items-center justify-center hover:bg-accent-hover hover:border-accent-hover focus:outline-none transition-colors duration-300"
    (click)="onClick()"
  >
    {{ label }}
  </a>
}
